@font-face {
    font-family: inder;
    src: url(../font/Inder-Regular.ttf);
}

/* margin pish farz body ro hazt beshavad */
body {
    margin: 0;
    background: linear-gradient(180deg, #F2F2F2 21.77%, rgba(231, 231, 231, 0.40) 65.92%, rgba(121, 121, 121, 0.46) 100%);
    font-size: 5vw;
    font-size: calc(20px + 1vh);
    font-family: inder;
    height: 85vh;
}

/* hame li ha list-style ha shon none beshavad */
li {
    list-style: none;
}

/* hame ul ha padding ha shon 0px beshavad */
ul {
    padding: 0;
}

/*.............................. style header main ..............................*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2F2F2;
    /* box-shadow: 0 1vh 2vh 2vh #F2F2F2; */
    padding: 2vh 0 0 0;
}

/* style div samt chap header */
.div-left-header {
    background-image: linear-gradient(#faf4f4, #7b7a7a42, #68686874);
    border-radius: 3vh;
    min-width: 70%;
}

/* div samt chap header > (ul) */
.div-left-header ul {
    display: flex;
    padding: 0 0.5vh;
    margin: 1vh;
}

/* div samt chap header > (ul > li) */
.div-left-header ul li {
    padding: 0.7vh;
    margin: 0.4vh;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 1.5vh;
    background: linear-gradient(top #79797955, #797979);
    color: #464646;
    box-shadow: 0vh 0.4vh 0.3vh 0.2vh #afafaf;
}

/* div samt rast header */
.div-right-header {
    margin-right: 0.2vh;
    position: relative;
}

/* div samt rast header > (img)*/
.div-right-header>ul>li>img {
    width: 5vh;
}

/* menu */
#menu {
    visibility: hidden;
    opacity: 0;
    background: rgba(54, 54, 54, 0.87);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transition: opacity, visibility, height, width 0.4s ease;
    height: 0px;
    width: 0px;
}

.div-right-header>ul>li:hover #menu {
    visibility: visible;
    opacity: 1;
    height: fit-content;
    width: fit-content;
}

#menu>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 11px;
    letter-spacing: 0.07em;
    color: #EDEDED;
}

#menu>div:not(:first-of-type) {
    background: rgba(122, 122, 122, 0.49);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

#menu>div:first-of-type {
    margin: 3px 4px 5px 0px;
    justify-content: flex-end;
}

/* .....................style main................ */

main {
    margin-top: calc(13vh + 40px);
}

.mood {
    position: relative;
    width: calc(100% - 70%);
    padding: 5px 0px 5px 0px;
    background: #EDEDED;
    border: 1px solid #5F5B5B;
    border-radius: 13px;
}

.mood>span {
    width: 25px;
    height: 14px;
}

.mood>.sunMoon {
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 70%);
    height: 17px;
    background: #FCF296;
    box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.mood>.sunMoon>svg:first-of-type {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.mood>.sunMoon>svg:last-of-type {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    visibility: hidden;
    opacity: 0;
}

/* new to do style */
.newToDo {
    display: none;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 100px);
    /* height: calc(100% - 600px); */
    background: rgba(102, 111, 135, 0.97);
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 5%;

}

.newToDo>div>h3 {
    text-align: center;
    letter-spacing: 1.92px;
    margin-top: 1%;
    font-size: 2.9rem;
}

.newToDo label {
    display: block;
    margin-bottom: 10px;
    color: #F5F5F5;
    font-size: 2.9rem
}

.newToDo input {
    width: 100%;
    padding: 15px 38px;
    background: #EFEFEF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 40px;
    outline: none;
    box-sizing: border-box;
}

.newToDo textarea {
    width: 100%;
    padding: 15px 38px;
    background: #EFEFEF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 3rem;
    height: 15vh;
    outline: none;
    text-align: justify;
    resize: none;
    box-sizing: border-box;
}

.newToDo>div:first-of-type {
    color: #FFFFFF;
    margin: 5px auto;
    text-align: center;
}

.newToDo>div {
    width: calc(100% - 10%);
    margin-bottom: 2vh;
}

.newToDo .time {
    box-sizing: border-box;
    background: linear-gradient(92.47deg, rgba(80, 92, 136, 0.31) 21.28%, rgba(111, 80, 136, 0.51) 53.95%, rgba(80, 92, 136, 0.29) 105.02%);
    border: 1px solid #C0C0C0;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%;
}

.time svg {
    width: 54px;
    height: 54px;
}

.newToDo .time button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 53px;
    position: relative;
    width: calc(100% - 85%);
    border: none;
}

.time>div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.time>div:first-of-type>button,
.time>div:first-of-type>svg:first-of-type {
    margin: 0px 10px 0px 10px;
}

.time>div {
    width: calc(100% - 50px);
    padding: 5px;
}

.newToDo .time button>img {
    position: absolute;
    left: 5px;
    top: 16px;
    transform: translate(0%, 5%) scale(4);
    width: 20px;
    height: 20px;

}

.activeSvg {
    position: absolute;
    right: 5px;
}

.time .date {
    display: none;
    flex-direction: column;
    align-items: center;
}

.time>.date>div {
    fill: rgba(255, 255, 255, 0.28);
    background-color: rgba(255, 255, 255, 0.28);
    width: calc(100% - 50px);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.time>.date>div:last-of-type>span {
    border-radius: 8px;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
    border-left: 1px solid #393939;
    box-shadow: 0px 2px 3px 0px #000;
    padding: 5px 3vw;
}

.time>.date>div:last-of-type>span:active {
    background: #5BBD5A;
}

/* foooter new to do */
.footerNewToDo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerNewToDo>div {
    box-sizing: border-box;
    /* background: #EFEFEF; */
    border: 2px solid rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    padding: 10px;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerNewToDo>div:first-of-type {
    color: #E36161;
}

.footerNewToDo>div:last-of-type {
    color: #53DE71;
}


.footerNewToDo>div>img {
    width: 1.5vh;
}

/* svg of cancel */
.footerNewToDo>div:first-of-type>svg:first-of-type {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

/*................... Folder style section .......................*/

.folderSection {
    width: 90%;
    height: 66vh;
    margin: 0 auto;
    overflow-y: scroll;
    display: none;

}

#containerAddNewFolder {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height: 37vh;
    background-color: rgb(165, 181, 187, 90%);
    border-radius: 2vh;
    position: fixed;
    top: 25vh;
}

#containerAddNewFolder h1 {
    color: white;
    font-size: 4vh;
    margin-bottom: 0;
    font-weight: bold;
}

#containerAddNewFolder label {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#containerAddNewFolder label span {
    margin-left: 0.5vh;
    color: #414141;
    font-size: 3vh;
    font-weight: bold;
}

#containerAddNewFolder label input {
    width: 100%;
    height: 3vh;
    border: none;
    border-radius: 0.5vh;
    font-size: 2vh;
}

#containerAddNewFolder>div {
    width: 80%;
    margin: 5vh 0 3vh 0;

    display: flex;
    justify-content: space-between;
}

#containerAddNewFolder>div>div {
    display: flex;
    background-color: white;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    padding: 0.3vh;
    border-radius: 0.7vh;
    border: 0.3vh solid #949494;
}

#containerAddNewFolder>div>div:nth-of-type(1) span {
    color: #E36161;
}

#containerAddNewFolder>div>div:nth-of-type(2) span {
    color: #53DE71;
}


#containerAddNewFolder>div img {
    width: 1.5vh;
}

#containerAllFolders {
    width: 100%;
}

#containerAllFolders>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #dfb4ee17 -11.54%, #874a9d3d 36.92%, #57575757 77.9%);
    box-shadow: 0vh 0.4vh 1vh 0.2vh #afafaf;
    border-radius: 1vh;
    padding: 2vh;
    margin-bottom: 2vh;
}

#containerAllFolders>div>div:nth-of-type(2) {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#containerAllFolders>div>div:nth-of-type(2) img {
    width: 3vh;
}

#containerAllFolders div>div:nth-of-type(1)>h3 {
    margin: 0;
}

.errorModalNewFolder {
    color: red;
    font-weight: bold;
    font-size: 1.6vh;
}

#alarmsSecion {
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    overflow-y: scroll;
}

/*........................ footer style .......................... */

/* footer style */
footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* The first footer divs */
footer>div {
    margin: 1vh auto;
    text-align: right;
    width: 80%;
}

/* The number of two div in the footer (bottom div) */
.div-bottom-footer {
    background-color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

/* Internal elements (the number of two divs in the footer (bottom div)) */
.div-bottom-footer * {
    margin: 1vh;
}

/* input div number two footer (bottom div) */
footer input {
    width: 80%;
    height: 2.5vh;
    border-radius: 0.5vh;
    font-size: 1.5vh;
    background-color: #E8E8E8;
    border: none;
}

#iconAddNewFolder {
    border: 0.8vh solid #777;
    display: none;
    border-radius: 50vh;
    width: 7vh;
    width: 5vh;
    padding: 1vh;
}

#svgAddNote {
    width: 9.5vh;
}

#svgAddNoteInFolder {
    width: 9.5vh;
    display: none;
}