@font-face {
    font-family: inder;
    src: url(../font/Inder-Regular.ttf);
}

/* notes style start */
.notes {
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    font-family: inder;
}

.notes>ul {
    display: grid;
    grid-template-columns: repeat(2, 22.875rem);
    overflow: hidden;
    gap: 2vw;
    margin: 0px auto;
    justify-content: center;
    line-break: anywhere;
}

.noteLi {
    height: 14vh;
    border-radius: 20px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    background: linear-gradient(125deg, #697089 17.65%, #4E65B6 76.67%, #6787F8 97.86%);


}

.noteLi .noteHeader {
    color: #DADADA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.9rem;
}

.noteLi .noteHeader>div {
    width: 10%;
}

.noteLi .noteHeader img {
    width: 100%;
}

.notes .noteMain {
    font-size: 1.40rem;
    width: 80%;
    height: 29%;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    color: rgba(255, 255, 255, 0.60);
}

.dateTime {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    color: #E7E7E7;
    font-size: 1.3rem;
}

/* notes style end */
/* calendar modal start */

.calendarModal {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44rem;
    height: 52rem;
    background-color: #F2F2F2;
    border-radius: 10px;
    overflow-y: hidden;
}

.calendarHeader {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
    color: #595959;
}

.calendarHeader i {
    font-size: 2.5rem;
    cursor: pointer;
}

.calendarHeader h3 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.calendarHeader p {
    font-size: 1.6rem;
}

.weekDays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekDays div {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(106, 115, 138, 0.55);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div:not(.next-date, .prev-date) {
    font-size: 2rem;
    margin: 0.3rem;
    width: calc(39rem /7);
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6A738A;
}

.prev-date,
.next-date {
    font-size: 2rem;
    margin: 0.3rem;
    width: calc(39rem /7);
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(106, 115, 138, 0.44)
}

.today {
    background: linear-gradient(rgba(217, 217, 217, 0), rgba(170, 201, 228, 0.42) 30%, rgba(135, 162, 188, 0.66) 60%, rgba(96, 130, 160, 1) 100%);
    border-radius: 50px;
}

/* calendar modal end */

/* error massage start */
.error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #A1A1A1;
    background: #FFF;
    padding: 20px;
    position: absolute;

    transform: translate(0, 0);
    width: 100%;
    animation: error 5s;
}

.error>div:first-of-type {
    color: #000;
    font-family: Inder;
    font-size: 2.45rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
}

.error>.divImg {
    width: 8%;
    height: 100%;
}

.error>.divImg img {
    width: 100%;
}

@keyframes error {
    0% {
        visibility: hidden;
        opacity: 0;
        top: -40px;
    }

    5% {
        visibility: visible;
        opacity: 1;
        transform: translateY(50px);
    }

    95% {
        visibility: visible;
        opacity: 1;
        transform: translateY(50px);
    }

    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0px);
        top: -40px;
    }

}

/* error massage end */

/* alarm start*/
.alarmtemplate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: #FFFFFF;
    font-size: 2rem;
    z-index: 2;
    position: absolute;
    top: -100px;
    align-items: center;
    animation: alarmStart 1s linear forwards;
    border-radius: 8px;
    background: linear-gradient(99deg, #697089 15.18%, #4E65B6 80.01%, #6787F8 98.65%);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

.alarmtemplate>div {
    text-align: start;
    margin-left: 80px;
    align-self: center;
}

.alarmtemplate>div:first-of-type {
    width: 30%;
}

.right-alarm {
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    justify-content: flex-end;
    align-content: flex-end;
}

.alarmtemplate>div:last-of-type>div:first-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 100%;
}

.alarm-item>div:last-of-type {
    width: 12%;

    flex-shrink: 0;
    margin-left: 20px;
}

.alarm-item>div:last-of-type img {
    width: 100%;
    margin: 10px 10px 0px 0px;
}

.alarmtemplate>div:last-of-type>div:last-of-type button {
    flex-shrink: 0;
    border-radius: 5px;
    border-right: 1px solid #414141;
    border-bottom: 1px solid #414141;
    border-left: 1px solid #414141;
    background: rgba(237, 237, 237, 0.13);
    padding: 15px 40px;
    font-size: 2.34rem;
    color: #fff;
}

.hideAlarm {
    animation: alarmFinnish 1s linear forwards;
}

@keyframes alarmStart {
    from {
        top: -100px;
    }

    to {
        top: 0px;
    }
}

@keyframes alarmFinnish {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}

/* alarm end */

/* clock start*/
/* base clock modal */
.clock-modal,
.clock-modal02 {
    width: 25%;
    height: 29vh;
    position: absolute;
    top: 35%;
    left: 20%;
    border-radius: 10px;
    background: #FFF;
    padding: 30px;
    display: none;
    z-index: 2;
    overflow-y: scroll;
    font-family: inder;
    text-align: center;
}

.clock-modal02 {
    left: 50%;
}

/* hours ul */
.clock-modal ul,
.clock-modal02 ul {
    margin: 0;
    padding: 10px 40px;
    font-size: 3.87vh;
    color: #262626;
    margin-right: 25px;
    overflow-y: scroll;
}

.clock-modal ul>li,
.clock-modal02 ul>li {
    padding: 10px 0px;
    margin: 40px 0px;
}

/* clock end */